body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

h1 {
  margin: 0;
}

h2 {
  color: #333;
}

textarea {
  width: 80%;
  height: 100px;
  margin: 20px 0;
}

button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

.answers {
  margin-top: 30px;
  padding: 20px;
}

#responses-list {
  margin-top: 20px;
}

.response {
  padding: 15px;
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
}
